footer.page-footer
	.container
		.footer-logo
		ul.footer-menu
			li О магазине
			li О нас
		ul.social
			li.vk
			li.fb
			li.tw

script(src="bower/jquery/dist/jquery.min.js")
script(src="js/main.js")