header.page-header
	.container
		a.header__logo-link(href="#", alt="AppleShop")
			img.header__logo-img(src="img/logo.png")
		.header__phone 
			span.header__code +7 (921) 
			span.header__number 322 12 32
		.header__mail
			a(href="mailto:manager@company.com").header__mail-address manager@company.com
