header.header
	.container
		.header__logo
			a(href="#", alt="AppleShop").header__logo-link
				img(src="img/logo.png").header__logo-img

		.header__phone
			a(href="tel:+79213221232").header__phone-link 
				span.header__phone-code +7 (921) 
				span.header__phone-number 322 12 32
		
		a(href="mailto:manager@company.com").header__mail manager@company.com
