- var prod_sections=['Мобильные телефоны','Планшеты','Мр3 плееры','Персональные компьютеры','Ноутбуки','Apple TV','Аксессуары'];

nav.nav
	ul.nav__list
		each title in prod_sections
			li.nav__item
				a.nav__link
					span.nav__text=title
